<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral"/>
	</configSections>
	<dataConfiguration defaultDatabase="ProductAnalysis" />
	<connectionStrings>
		<add name="fh_auxiliary" connectionString="Data Source=192.168.1.221;Initial Catalog=fh_auxiliary;uid=sa;password=123456;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="PageSize" value="16"/>
		<add key="OriginalPassword" value="123"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
		<add key="RequestTaoBaoTimes" value="5000"/>
		<add key="DataUrl" value="http://tbskuapi.fanhuan.com/cache/GetIdsFromCache?n=20"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>


